.header__tags,
.home__tags {
    &::before {
        content: "#";
    }
    color: $color-primary;
    background: $color-bg;
    font-size: rem(12);
    font-weight: 500;
    padding: rem(1) rem(10);
    margin-bottom: rem(9);
    margin-right: rem(5);
    border: 1px solid $color-border;
    border-radius: rem(11);
    &:hover {
        color: #fff;
        background-color: $color-primary;
        transform: scale(0.95, 0.95);
    }
    &.active {
        color: #fff;
        background-color: $color-primary;
        transform: scale(0.95, 0.95);
    }
}

.contact__tags {
    color: $color-primary;
    background: $color-bg;
    font-size: rem(13);
    font-weight: 500;
    padding: rem(1) rem(10);
    margin-bottom: rem(9);
    margin-right: rem(5);
    border: 1px solid $color-border;
    border-radius: rem(11);
    white-space: nowrap;
    @include tablet {
        font-size: rem(18);
    }
}

a {
    &.header__mainlink {
        color: inherit;
    }
}

.contact__btn {
    color: #fff;
    border: none;
    font-size: rem(20);
    font-weight: 700;
    border-radius: rem(5);
    background-color: $color-primary;
    width: rem(150);
    height: rem(35);
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: fixed;
    bottom: rem(30);
    left: 50%;
    transform: translate(-85%, 0);
    &:hover,
    &:focus {
        color: black;
        background-color: $color-secondary;
    }
    @include tablet {
        width: rem(150);
        height: rem(49);
        position: initial;
        margin-left: rem(30);
        margin-top: rem(15);
        transform: initial;
    }
}

.lightbox__btnclose {
    height: rem(20);
    width: rem(20);
    position: absolute;
    display: inline-block;
    right: rem(5);
    top: rem(10);
    border: none;
    background-color: #fff;
    cursor: pointer;
    @include tablet {
        height: rem(40);
        width: rem(40);
        right: rem(40);
        top: rem(30);
    }
    &:before,
    &:after {
        width: rem(20);
        height: rem(4);
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        display: block;
        background-color: $color-primary;
        transition: all 0.25s ease-out;
        @include tablet {
            width: rem(40);
            height: rem(8);
        }
    }
    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
            height: rem(5);
            background: $color-secondary;
        }
        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
            height: rem(5);
            background: $color-secondary;
        }
    }
}
