.modalcontainer {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    height: min-content;
    width: 100%;
    overflow: hidden;
    @include background-opacity($color-secondary-grey, 0.4);
    @include tablet {
    position: fixed;
    height: 100%;
    }
    @include modal;
    &--show {
        display: block;
    }
}

.modal {
    &__container {
        width: 100%;
        min-height: min-content;
        margin: rem(89) auto rem(0);
        animation-name: modalopen;
        animation-duration: 0.8s;
        background: lighten($color-secondary, 10%);
        border-radius: rem(5);
        overflow: hidden;
        position: relative;
        color: #fff;
        padding: rem(38) rem(38) rem(38);
        @include tablet {
            width: rem(669);
            border-radius: rem(10);
            margin: 5% auto;
            padding: rem(15) rem(35) rem(38);
        }
    }
    &__title {
        font-size: rem(64) ;
        font-weight: 400;
        margin-bottom: rem(19);
        color: #000;
    }
    &__registration {
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-size: rem(36);
        font-weight: 400;
        color: $color-label;
        margin-bottom: rem(5);

    }
    &__input {
        width: 100%;
        height: rem(68);
        border-radius: rem(5);
        border-style: none;
        @include inputAndTextarea;
        &:nth-child(6) {
            margin-bottom: rem(15);
        }
        &--valid {
            border: 2px solid #1fa731;
        }
        &--error {
            border: 2px solid #ff0000;
        }
    }
    &__textarea {
        width: 100%;
        height: rem(170);
        border-radius: rem(5);
        border: none;
        @include inputAndTextarea;
        &--valid {
            border: 2px solid #00ff22;
        }
        &--error {
            border: 2px solid #ff0000;
        }
    }
    &__btn {
        width: rem(170);
        height: rem(69);
        color: #fff;
        margin-top: rem(26);
        background-color: $color-primary;
        border-radius: rem(5);
        font-size: rem(18);
        font-weight: 700;
        border-style: none;
        cursor: pointer;
    }
    &__close {
        position: absolute;
        display: block;
        width: rem(10);
        height: rem(10);
        right: rem(55);
        top: rem(30);
        opacity: 1;
        cursor: pointer;
        &::before,
        &::after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 25px;
            width: 3px;
            background-color: #fff;
            @include tablet {
                height: 32px;
            }
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}