$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-secondary-grey: #525252;
$color-secondary-bg:#E5E5E5;
$color-border: #C4C4C4;
$color-bg:#f1f1f1;

$font-fam: 'DM Sans', Arial, Helvetica, sans-serif;